VITE_SUPABASE_URL=https://eiqyjodvlfhrgrzzfzbg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcXlqb2R2bGZocmdyenpmemJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MTEzNjksImV4cCI6MjA5MjI4NzM2OX0.a821NbEuiq-c7SVH2GYQ-PS8C4ATswga680rCeIvPHQ
